# Set Operators

## Kinds of set operators

Set operators take two datasets with an identical form, and do something with them.

* `UNION ALL` glues together two sets
* `UNION` does the same, but only leaves unique rows
* `INTERSECT` gives the rows that exist in both datasets
* `EXCEPT` gives the rows that exist in the first dataset, but not in the second

## Preparation

In [1]:
IF OBJECT_ID('dbo.products1', 'U') IS NOT NULL
   DROP TABLE dbo.products1;

IF OBJECT_ID('dbo.products2', 'U') IS NOT NULL
   DROP TABLE dbo.products2;

SELECT *
INTO products1
FROM (VALUES 
    ('Audi', 'Car')
    , ('Skoda', 'Car')
) t (make, category);

SELECT *
INTO products2
FROM (VALUES
    ('Koga Myata', 'Bicycle')
    , ('Audi', 'Car')
) t (make, category);

## Sample table

In [1]:
SELECT * FROM dbo.products1;

make,category
Audi,Car
Skoda,Car

In [2]:
SELECT * FROM dbo.products2;

make,category
Koga Myata,Bicycle
Audi,Car

## Union all

In [3]:
SELECT * FROM dbo.products1
UNION ALL
SELECT * FROM dbo.products2;

make,category
Audi,Car
Skoda,Car
Koga Myata,Bicycle
Audi,Car

## Union

In [4]:
SELECT * FROM dbo.products1
UNION
SELECT * FROM dbo.products2;

make,category
Audi,Car
Koga Myata,Bicycle
Skoda,Car

## Intersect

In [5]:
SELECT * FROM dbo.products1
INTERSECT
SELECT * FROM dbo.products2;

make,category
Audi,Car

## Except

In [6]:
SELECT * FROM dbo.products1
EXCEPT
SELECT * FROM dbo.products2;

make,category
Skoda,Car