# Programming and variables

## Programmaflow

* Recap: CASE-statement. Waarde binnen een query voor elke rij.
* Maar wat nu als je wilt kiezen tussen twee queries?
  * Optie 1 (preferred): met WHERE-clausules goed scheiden
  * Optie 2 (handig voor beheer e.d.): een IF-statement
* Bijzondere casus: handig wanneer je DDL-logica wilt scheiden, i.c.m. `OBJECT_ID`

* WHILE voor automatiseren van grotere hoeveelheden statements
* Basis-casus: aanmaken van verzameling aan tabellen
* Meer geavanceerde casus?

## Cursors (voor de liefhebbers)

* Doorlopen van metadata-tabel om je tabellen te genereren

## Batches

1. Create a simple table called `dbo.ListOfNames` with 2 columns:
   * one Id (type INT, IDENTITY)
   * one Name, type VARCHAR(30)

2. Insert a single row in it. Terminate the statement with GO
   * name should be 'Koos'. Or your own name. Or anything else.

3. Examine the contents of the table

4. Copy and paste the query from question 2, but now replace the `GO` with `GO 10`. Examine the results

In [0]:
-- same query as 2, but now with a GO 10

In [0]:
-- examination of the `dbo.ListOfNames`

The `GO` statement separates *batches*: the lines SQL Server will try to grok and execute. 

By providing a number after `GO` (for example `GO 10`), the batch is executed that number of times.

## Variables

To store data for the duration of one batch, you can use a *variable*.

For example, try the commands below and see what happens.

* First, describe what you expect to see when you "just" read the syntax for every line (guesses are ok!)
* Then, execute the code.
  * Notice that you cannot execute the line-by-line: 
    * Executing only the first line will be ok
    * Executing only the second line will yield an error: you are now in a new *batch*, so the variable you declared in an earlier batch has disappeared
  * Therefor, instead of line-by-line you should execute the code from start until the line you want to see the results of.
    * So if you want to see the results of line 2, you execute both line 1 AND 2.

```sql
DECLARE @name VARCHAR(30);
SET @name = 'Koos';
SELECT @name;
SELECT @name = 'Inge';
PRINT @name;
DECLARE @anotherName VARCHAR(30) = 'Sanne';
```

### Variables part 2

* Retrieve the *BusinessEntityId* of the salesperson with the highest amount of sales according to SalesOrderHeader
* Store the *BusinessEntityId* in a variable
* Retrieve and display the first- and last name of this salesperson based on the variable
* As a bonus, not only display the first and last name, but also the amount of sales this person made. Use a second variable for this figure.

## Conditional logic with IF-statements

Write a query