# Functions and APPLY


* Functie schrijven
* Functie toepassen
* CROSS APPLY
* OUTER APPLY

## Scalar functions

The most basic function group within T-SQL are *scalar functions*. They can accept multiple parameters, but return only a single value.

As a result, you can use them inside any SELECT statement.
You might have used one of these functions already:

* `GETDATE()`
* `NEWID()`
* `YEAR()`

## Table-valued functions

A second type of function is a *table-valued function*. Table-valued functions return, well, a *table*.

One way table-valued functions (TVFs) are used often in Data Warehousing is as *parameterized views*.

Below is an example for a historical table, and an accompanying TVF dat helps you to view the table *as it was on a certain point in time*.

In [6]:
IF OBJECT_ID('dbo.addresses') IS NOT NULL
    DROP TABLE dbo.addresses;

IF OBJECT_ID('dbo.address_at') IS NOT NULL
    DROP FUNCTION dbo.address_at;

SELECT
    *
INTO dbo.addresses
FROM (VALUES 
    ('Koos', 'Wilnis', '1986-12-24', '2005-08-31')
    , ('Koos', 'Amsterdam West', '2005-08-31', '2006-05-15')
    , ('Koos', 'Wilnis', '2006-05-15', '2006-10-30')
    , ('Koos', 'Amsterdam Oud-Zuid', '2006-10-30', '2010-05-25')
    , ('Koos', 'Amsterdam Centrum', '2010-05-25', '2011-04-20')
) AS customer ([Name], City, StartDate, EndDate);

GO

CREATE FUNCTION address_at(@date DATETIME2) 
RETURNS TABLE
AS 
RETURN
SELECT * 
FROM dbo.addresses
WHERE StartDate <= @date AND EndDate > @date

GO

SELECT * FROM address_at ('2007-01-01')

Name,City,StartDate,EndDate
Koos,Amsterdam Oud-Zuid,2006-10-30,2010-05-25

## DIY TVF schrijven

## TVF combineren: APPLY